<!doctype html>
<html lang="vi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <header id="header">
      <div class="header__container">
        <!-- Header Logo -->
        <a href="../index.html"
          ><img
            class="header__img"
            src="../assets/imgs/logo/Logo-ngang.png"
            alt="ảnh logo"
        /></a>

        <!-- Header Navbar -->
        <nav class="header__navbar-pc">
          <ul class="header__navbar-list">
            <li class="header__navbar-item header__navbar-item-intro">
              <a
                class="header__navbar-link header__navbar-link-underline"
                href="javascript:void(0)"
                >Giới Thiệu</a
              ><i class="header__navbar-item-icon fa-solid fa-chevron-down"></i>
              <ul class="header__list">
                <li class="header__item">
                  <a
                    class="header__item-link"
                    href="../pages/lich_su_va_su_menh.html"
                    >Lịch Sử và Sứ Mệnh</a
                  >
                </li>
                <li class="header__item">
                  <a class="header__item-link" href="../pages/thanh_tuu.html"
                    >Thành Tựu Đạt Được</a
                  >
                </li>
              </ul>
            </li>
            <li class="header__navbar-item">
              <a
                class="header__navbar-link header__navbar-link-underline"
                href="../pages/product.html"
                >Sản Phẩm</a
              >
            </li>
            <li class="header__navbar-item">
              <a
                class="header__navbar-link header__navbar-link-underline"
                href="../pages/news.html"
                >Tin Tức</a
              >
            </li>
            <li class="header__navbar-item">
              <a
                class="header__navbar-link header__navbar-link-underline"
                href="javascript:void(0)"
                >Cửa Hàng</a
              >
            </li>
            <li class="header__navbar-item">
              <a
                class="header__navbar-link header__navbar-link-underline"
                href="../pages/recruit.html"
                >Tuyển Dụng</a
              >
            </li>
            <li class="header__navbar-item">
              <a
                class="header__navbar-link header__navbar-link-underline"
                href="javascript:void(0)"
                >Nhượng Quyền</a
              >
            </li>
          </ul>
        </nav>

        <!-- Header Navber Mobile -->
        <nav class="header__navbar-moblie">
          <label for="input-check-mobile" class="header__navbar-mobile-btn">
            <i class="fa-solid fa-bars"></i>
          </label>

          <input type="checkbox" hidden id="input-check-mobile" />

          <label for="input-check-mobile" class="header__overlay"></label>

          <ul class="header__navbar-mobile-list">
            <label for="input-check-mobile"
              ><i class="header__icon-close fa-solid fa-xmark"></i
            ></label>
            <li
              class="header__navbar-mobile-item header__navbar-mobile-item-intro"
            >
              <input type="checkbox" hidden id="input-intro-check" />
              <label for="input-intro-check" class="header__navbar-mobile-link"
                >Giới Thiệu
                <i class="fa-solid fa-plus"></i>
              </label>
              <ul class="header__list-mobile">
                <li class="header__item-mobile">
                  <a
                    class="header__item-link-mobile"
                    href="../pages/lich_su_va_su_menh.html"
                    >Lịch Sử và Sứ Mệnh</a
                  >
                </li>
                <li class="header__item-mobile">
                  <a
                    class="header__item-link-mobile"
                    href="../pages/thanh_tuu.html"
                    >Thành Tựu Đạt Được</a
                  >
                </li>
              </ul>
            </li>
            <li class="header__navbar-mobile-item">
              <a class="header__navbar-mobile-link" href="../pages/product.html"
                >Sản Phẩm</a
              >
            </li>
            <li class="header__navbar-mobile-item">
              <a class="header__navbar-mobile-link" href="../pages/news.html"
                >Tin Tức</a
              >
            </li>
            <li class="header__navbar-mobile-item">
              <a class="header__navbar-mobile-link" href="javascript:void(0)"
                >Cửa Hàng</a
              >
            </li>
            <li class="header__navbar-mobile-item">
              <a class="header__navbar-mobile-link" href="../pages/recruit.html"
                >Tuyển Dụng</a
              >
            </li>
            <li class="header__navbar-mobile-item">
              <a class="header__navbar-mobile-link" href="javascript:void(0)"
                >Nhượng Quyền</a
              >
            </li>
          </ul>
        </nav>

        <!-- Header Button -->
        <div class="header__btn-list">
          <a href="javascript:void(0)" class="header__btn">Đăng Ký</a>
          <a href="../pages/login.html" class="header__btn">Đăng Nhập</a>
        </div>
      </div>
    </header>
  </body>
</html>
